header{
    padding: 10px;
}

footer img{
    padding: 30px;
}

footer p{
    padding-bottom: 50px;
}

#Hours img{
    padding: 50px;
}

#Contact img{
    padding: 50px;
}

#Contact img{
    padding: 50px;
}

